---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "About Fish Yu",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			Hi, I am Fish Yu. I like cute things and ACG. I am also a security researcher, like tech &amp; hack things, and money lol.
			This blog is to share some cool stuff or thoughts, thanks for your visiting.
		</p>
		<p>Here are some topics I write about:</p>
		<ul class="list-inside list-disc" role="list">
			<li>Dev tools, workflow tips, and macOS setup</li>
			<li>Reverse engineering and binary analysis</li>
			<li>Self-hosting and infrastructure</li>
			<li>CTF writeups and security research</li>
		</ul>
		<p>
			Find me on <a
				class="cactus-link inline-block"
				href="https://github.com/a45s67"
				rel="noreferrer"
				target="_blank">GitHub</a
			>.
		</p>
	</div>
</PageLayout>
